{{#>link href="/imprint" internal=true}}Imprint{{/link}}
{{#> modal urlSlug="imprint"}}
<div class="imprint">
    <h2>Imprint</h2>
    {{contentfulRichTextRenderer metaInfo.imprint}}
</div>
{{/modal}}