<div class="image-gallery">
    <button class="image-gallery__button--left">
        <i class="icofont-thin-left icofont-md"></i>
    </button>
    <div class="image-gallery__images">
    {{#each images}}
        <div class="image-gallery__image">
            {{#> lightbox image=this.fields}}
                <picture>
                    <img src="{{../this.fields.file.url}}?w=300" alt="">
                </picture>
            {{/lightbox}}
        </div>
    {{/each}}
    </div>
    <button class="image-gallery__button--right">
        <i class="icofont-thin-right icofont-md"></i>
    </button>
</div>