<div class="image-gallery">
    <button class="image-gallery__button--left">
        <i class="icofont-thin-left icofont-md"></i>
    </button>
    <div class="image-gallery__images">
    {{#each images}}
    {{#with this.fields}}
        <div class="image-gallery__image">
            <img src="{{file.url}}" alt="{{title}}" />
        </div>
    {{/with}}
    {{/each}}
    </div>
    <button class="image-gallery__button--right">
        <i class="icofont-thin-right icofont-md"></i>
    </button>
</div>