$component: ".image-gallery";

#{$component} {
    position: relative;

    box-sizing: border-box;
    * {
        box-sizing: inherit;
    }

    &__images {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        height: 100%;
        overflow: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x proximity;
    }

    &__image {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            display: block;
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
            background-color: #333;
        }
    }

    &__button {
        position: absolute;
        top: 0;
        height: 100%;
        z-index: 1;
        border: none;
        background: none;
        color: white;
        text-shadow: 0 0 4px rgba(0,0,0,0.9);
        padding: 0 0.5rem;
        font-size: 2rem;
        cursor: pointer;

        @media (min-width: $tablet) {
            padding: 0 2rem;
        }

        i {
            font-weight: bold;
        }

        &:hover, &:focus {
            background-color: rgba(0,0,0,0.25);
        }

        &--left {
            @extend #{$component}__button;
            left: 0;
            display: none;
        }

        &--right {
            @extend #{$component}__button;
            right: 0;
        }

    }
}