$component: ".film";

#{$component} {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: stretch;
    visibility: hidden;

    @media (min-width: $tablet) {
        padding: 20px;
    }

    @media (min-width: $desktop) {
        padding: 40px;
    }
    
    &.open {
        visibility: visible;
    }

    &__content {
        background-color: white;
        padding: 20px;
        overflow-y: auto;
    }

    &__close {
        display: block;
        margin-left: auto;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        font-family: $font;
        font-size: 1.5rem;
    }
}