$component: ".film";

#{$component} {
    @include content-column;
    @include padding;

    &__header {
        &__title {
            font-size: 1.5rem;
            margin: 0;
            font-weight: bold;
        }

        @media (min-width: $tablet) {
            display: flex;
            align-items: baseline;

            &__title {
                margin-right: 1rem;
            }
        }
    }

    
    &__main {
        &__description{
            white-space: pre-line;
        }

        .image-gallery {
            margin-top: 2rem;
        }
    }
}