// fonts
$font: "KannadaSangamMN", sans-serif;
$heading-font: "FamiliarProBold", sans-serif;

// breakpoints
$smartphone: 320px;
$tablet: 721px;
$desktop: 1025px;

// colors
$text-color: black;
$text-color-light: #666;
$text-color-bright: white;
$bg-dark: #333;
$bg-dark-transparent: rgba(0,0,0,0.85);