// fonts
// @import url("https://fonts.googleapis.com/css?family=Chivo:400,700|Open+Sans&display=swap");
$font: "Open Sans", sans-serif;
$heading-font: "Chivo", sans-serif;

// breakpoints
$tablet: 721px;
$desktop: 1025px;

// colors
$text-color: black;
$text-color-light: white;
$bg-dark: #333;
