@import "variables.scss";
@import "mixins.scss";
@import "reset.scss";

:root {
    font-family: $font;
    font-size: 16px;
  
    @media (min-width: $tablet) {
      font-size: 18px;
    }
  
    scroll-behavior: smooth;
}

h2 {
  @include content-column;
}

.rich-text {
  white-space: pre-line;

  em {
      font-weight: bold;
      font-style: normal;
  }
}