@import "variables.scss";
@import "mixins.scss";
@import "reset.scss";

:root {
    font-family: $font;
    font-size: 16px;
  
    @media (min-width: $tablet) {
      font-size: 18px;
    }
  
    scroll-behavior: smooth;
}

.heading {
  font-family: $heading-font;
}

.rich-text {
  white-space: pre-line;

  em {
      font-weight: bold;
      font-style: normal;
  }
}

noscript {
  display: block;
  padding: 1rem;
  text-align: center;
  background-color: orange;
}
