<div class="showreel">
    <iframe class="showreel__video" src="{{about.showreelUrl}}?autoplay=true&muted=true&loop=true"
        frameborder="0"></iframe>

    <div class="showreel__info">
        <p>Based in</p>
        {{> separated-list list=about.locations}}
        {{#>link href="mailto:{{about.eMail}}?subject=Inquiry%20over%20your%20website"}}
            {{about.eMail}}
        {{/link}}
    </div>
</div>