<div class="showreel">
    <iframe class="showreel__video" src="{{about.showreelUrl}}"
        frameborder="0"></iframe>

    <div class="showreel__info">
        <span class="showreel__info__location">Based in {{about.locations}} // </span>
        {{#>link href=(concat "mailto:" about.eMail "?subject=Inquiry%20over%20your%20website")}}
            {{about.eMail}}
        {{/link}}
    </div>
</div> 