<div class="modal" data-url="{{urlSlug}}">
    <button class="modal__close">
        <i class="icofont-close-line modal__close__icon"></i>
    </button>
    <div class="modal__content">
        {{#>modal-content}}
            There is no modal content yet...
        {{/modal-content}}
    </div>
</div>
