$component: ".header";

#{$component} {
    padding: 20px 20px 40px 20px;
    position: relative;
    margin-bottom: -20px;
    z-index: 1;
    overflow: visible;
    background-position: center bottom;
    background-size: cover;


    &__heading {
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
        letter-spacing: 0.25ch;
    }

    &__subheading {
        display: block;
        text-align: center;
        letter-spacing: 0.5ch;
        font-size: 1rem;
    }
}
