{{#with metaInfo}}
<header class="header" style="background-image: url({{headerImage.fields.file.url}});">
    <h1 class="header__heading heading">{{heading}}</h1>
    <span class="header__subheading">{{subHeading}}</span>
</header>
{{/with}}