$component: '.header';

#{$component} {
  padding: 20px;
  max-width: $tablet;
  margin: 0 auto;

  &__heading {
    margin: 0;
    text-align: center;
    font-size: 1.75rem;
    letter-spacing: 0.125ch;
    text-align: left;
  }

  &__subheading {
    display: block;
    text-align: center;
    text-align: right;
  }

  @media (min-width: $wide-smartphone) {
    &__heading {
      font-size: 2.5rem;
    }

    &__subheading {
      font-size: 1.25rem;
    }
  }

  @media (min-width: $smartphone-landscape) {
    &__heading {
      font-size: 3rem;
    }
  }
}
