$component: ".header";

#{$component} {
    padding: 20px;
    max-width: $tablet;
    margin: 0 auto;

    &__heading {
        margin: 0;
        text-align: center;
        font-size: 3rem;
        letter-spacing: 0.125ch;
    }

    &__subheading {
        display: block;
        text-align: center;
        font-size: 1.25rem;
    }

    @media (min-width: $smartphone-landscape) {
        &__heading {
            text-align: left;
        }
    
        &__subheading {
            text-align: right;
        }
    }
}
