<nav class="navbar">
    <ul class="navbar__list">
        <li><a class="navbar__list__link heading" href="#showreel">Showreel</a></li>
        <li><a class="navbar__list__link heading" href="#fiction">Fiction</a></li>
        <li><a class="navbar__list__link heading" href="#documentary">Documentary</a></li>
        <li><a class="navbar__list__link heading" href="#about">About</a></li>
    </ul>
</nav>