$component: ".navbar";

#{$component} {
  position: sticky;
  top: 0;
  background-color: white;
  text-transform: uppercase;

  &__list {
    max-width: $tablet;
    margin: 0 auto;
    padding: 1rem;

    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: auto;

    &__link {
      color: $text-color;
      text-decoration: none;
      font-size: 1.25rem;
      margin-right: 1rem;

      @media (min-width: $tablet) {
        letter-spacing: 0.10ch;
      }

      &.current {
        font-size: 1.5rem;
      }
    }
  }
}
