$component: '.navbar';

#{$component} {
  position: sticky;
  top: 0;
  z-index: $foreground;
  background-color: white;
  text-transform: uppercase;

  &__list {
    max-width: $tablet;
    margin: 0 auto;
    padding: 1rem 0.25rem;

    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: auto;
    @media (min-width: $tablet) {
      padding: 1rem;
    }

    &__link {
      color: $text-color;
      text-decoration: none;
      margin-right: 0.25rem;

      @media (min-width: $tablet) {
        margin-right: 0;
        letter-spacing: 0.1ch;
      }

      &.current {
        font-size: 1.2rem;
      }
    }
  }
}
