$component: ".titled-list";

#{$component} {
    margin-bottom: 2rem;

    h4 {
        margin: 0;
        text-transform: uppercase;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-top: 0.5rem;
    }
}