$component: ".footer";

#{$component} {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
    margin-top: 1rem;
    padding: 1rem;

    &__link {
        margin: 0.125rem 0.25rem;

        &--mail,
        &--instagram,
        &--copy,
        &--imprint {
            @extend .footer__link;
        }
        @media (min-width: $tablet) {
            &--copy {
                margin-left: auto;
            }
        }
    }
}
