<footer class="footer">
    {{#>link class="footer__link--instagram" href=(concat "https://www.instagram.com/" about.instagramProfile) external=true}}
        <i class="icofont-instagram"></i>
    {{/link}}
    {{#>link class="footer__link--mail" href=(concat "mailto:" about.eMail "?subject=Inquiry%20over%20your%20website") external=true}}
        // E-Mail
    {{/link}}
    <span class="footer__link--copy">{{currentYear}} Chris Poulles</span>
</footer>