{{> baseLayout}}
{{#*inline "body"}}
{{> header}}
{{> navbar}}

{{#with htmlWebpackPlugin.options.data}}
<main>
    {{#> section title="showreel"}}
    {{>showreel}}
    {{/section}}

    {{#> section title="fiction"}}
    {{#each films.fiction}}
    {{> teaser-tile film=this}}
    {{> film film=this}}
    {{/each}}
    {{/section}}

    {{#> section title="documentary"}}
    {{#each films.documentary}}
    {{> teaser-tile film=this}}
    {{> film film=this}}
    {{/each}}
    {{/section}}

    {{#> section title="about"}}
    {{>about}}
    {{/section}}
</main>
{{> footer}}
{{/with}}
{{/inline}}