{{#with htmlWebpackPlugin.options.data}}
{{#> baseLayout}}
<noscript>To view this page properly Javascript needs to be enabled!</noscript>
{{> header}}
{{> navbar}}
<main>
    {{#> section title="showreel"}}
    {{>showreel}}
    {{/section}}

    {{#> section title="fiction"}}
    {{#each films.fiction}}
    {{> teaser-tile film=this}}
    {{> film film=this}}
    {{/each}}
    {{/section}}

    {{#> section title="documentary"}}
    {{#each films.documentary}}
    {{> teaser-tile film=this}}
    {{> film film=this}}
    {{/each}}
    {{/section}}

    {{#> section title="about"}}
    {{>about}}
    {{/section}}
</main>
{{> footer}}
{{/baseLayout}}
{{/with}}