{{> baseLayout}}
{{#*inline "body"}}
{{> header}}
{{> navbar}}

{{#with htmlWebpackPlugin.options.data}}
<main>
    {{> section-title title="fiction"}}
    {{#each films.fiction}}
    {{> teaser-tile film=this}}
    {{/each}}

    {{> section-title title="documentary"}}
    {{#each films.documentary}}
    {{> teaser-tile film=this}}
    {{/each}}
</main>
{{> footer}}
{{/with}}
{{/inline}}