{{> baseLayout}}
{{#*inline "content"}}
{{#with htmlWebpackPlugin.options.data}}
<h2>Fiction</h2>
{{#each films.fiction}}
{{> film}}
{{/each}}

<h2>Documentary</h2>
{{#each films.documentary}}
{{> film}}
{{/each}}
{{/with}}
{{/inline}}