{{#with film}}
<a class="teaser-tile" href="{{urlSlug}}" title="{{title}}"
    style="background-image: url('{{teaserImage.fields.file.url}}')">
    <h2 class="teaser-tile__title">{{title}}</h2>
</a>
{{/with}}