{{#with film}}
<div class="teaser-tile" title="{{title}}"
    style="background-image: url('{{teaserImage.fields.file.url}}')">
{{#>link href=urlSlug internal=true}}
    <h2 class="teaser-tile__title">{{title}}</h2>
{{/link}}
</div>
{{/with}}