
@import "../../styles/variables";
$component: ".separated-list";

#{$component} {
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    justify-content: center;

    &__item:not(:last-of-type)::after {
        content: "|";
        margin: 0 8px;
    }
}