<a class="link" href="{{href}}" {{#if internal}}data-internal-link{{/if}}
    {{#if external}}{{#unless internal}}target="_blank" rel="noopener noreferrer" {{/unless}}{{/if}}>
    {{> @partial-block}}
</a>